<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mockupsai">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ItemMessage"></activity>
        <activity android:name=".Selasa" />
        <activity android:name=".Senin" />
        <activity android:name=".MessageDetail" />
        <activity android:name=".Schedule" />
        <activity android:name=".DetailFinance" />
        <activity android:name=".ItemGuru" />
        <activity android:name=".ContactGuru" />
        <activity android:name=".EditUser" />
        <activity android:name=".User" />
        <activity android:name=".Messages" />
        <activity android:name=".Finance" />
        <activity
            android:name=".MenuMain"
            android:label="@string/title_activity_menu_main" />
        <activity android:name=".Home" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>